[submodule "packages/tempesttools/acl-middleware"]
	path = packages/tempesttools/acl-middleware
	url = https://github.com/tempestwf/tempest-tools-acl-middleware.git
[submodule "packages/tempesttools/tempest-tools-common"]
	path = packages/tempesttools/tempest-tools-common
	url = https://github.com/tempestwf/tempest-tools-common.git
